body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px
}
a {
    color: red;
}

p {
    color: midnightblue;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}